* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 5rem;
}

.card-body {
  position: relative;
}

.more-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: 0;
}
